.app {
  text-align: center;
}

.notes {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.button-wrapper {
  display: flex;
  position: relative;
  height: 50px;
  width: 50%;
  margin-right: auto;
  margin-left: auto;
  align-items: center;
  justify-content: flex-start;
}

.refresh {
  border-radius: 25px;
  margin-left: 15px;
  height: 30px;
  width: 30px;
  cursor: pointer;
}

.notes-list-wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.notes-item-wrapper {
  display: flex;
  position: relative;
  width: 150px;
  border: 1px solid black;
  margin: 15px;
}

.delete {
  position: absolute;
  top: 5px;
  right: 5px;
  color: red;
  cursor: pointer;
}

.note-text {
  margin-top: 25px;
}

.input {
  height: 70px;
  width: 250px;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  width: 250px;
}

.input-btn {
  position: absolute;
  bottom: 5px;
  right: 15px;
  cursor: pointer;
}